
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:0.7s;
    -moz-animation-duration:0.7s;
    animation-duration:0.7s;
}

.fade-in-slow {
    .fade-in;
    -webkit-animation-duration:1.7s;
    -moz-animation-duration:1.7s;
    animation-duration:1.7s;
}
.fade-in-very-slow {
    .fade-in;
    -webkit-animation-duration:2.5s;
    -moz-animation-duration:2.5s;
    animation-duration:2.5s;
}

.view-animate {
}
.view-animate.ng-enter,
.view-animate.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    @media only screen and (max-width : 1224px) {
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
    }
}
.view-animate.ng-enter {
    opacity: 0;
    padding-top:200px;
    left: 50%;
}
.view-animate.ng-enter-active {
    opacity: 1;
    padding-top:0px;
    left:50%;
}
.view-animate.ng-leave {
    opacity: 1;
    padding-top:0px;
    padding-left:0px;
}
.view-animate.ng-leave-active {
    opacity: 0;
    padding-top:200px;
}


.pull-in {

}
.pull-in.ng-enter,
.pull-in.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    @media only screen and (max-width : 1224px) {
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
    }
}
.pull-in.ng-enter {
    opacity: 0;
    left:30%;
}
.pull-in.ng-enter-active, .pull-in.ng-leave {
    opacity: 1;
    left:50%;
}
.pull-in.ng-leave-active {
    opacity: 0;
    left:30%;
}

