
@primary: #ffffff;
@secondary: #999999;

@thirdary: #1b1f23;

@font-color: #555555;

/* Alternate Color Scheme */

//@primary: #05784A;
//@secondary: #221B0F;

html {
  overflow-y: scroll;
  overflow-x: hidden;
  min-height:100%;
  z-index:49;
}
body {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:300;
  color:@font-color;
  font-size:16px;
  line-height:1.42857143;
  height:100%;
  padding-top:60px;
  padding-bottom:60px;
  background-color:@primary;
  z-index:50;
}

.content {
	padding:0;
	width:80%;
	max-width:800px;
	background-color:@primary;
	@media only screen and (min-width : 1224px) {
	margin-left:-400px;
	left:50%;
	}
}

/* Navigation */

.site-logo {
  width:32px;
  height:32px;
  margin-top:-16px;
  margin-bottom:-12px;
  padding-right:5px;
  opacity:0.8;
}
.navbar-inverse {
	background-color: @secondary;
	border: none;
	.navbar-nav {
		margin: 0 auto;
	}
	.navbar-nav > li > a{
		color:@primary;

	}
	.navbar-nav > li > a:hover {
	    -webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease; 
	    -o-transition: all 1s ease;
 	   transition: all 1s ease;
 	   opacity:0.7;
		i {
	    -webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease; 
	    -o-transition: all 1s ease;
 	   transition: all 1s ease;
 	   		opacity:0.3;
		}
	}
}

h1,h2,h3,h4,h5,h6 {
  font-weight:300;
}
a {
  color:@secondary;
}
a:hover {
  color:@secondary + #333;
}

.footer {
  bottom:30px;
  left:50%;
  height:30px;
  margin-left:-450px;
  width:900px;
  z-index:-5;
  font-size:10px;
  padding-top: 5px;
}

.gray {
  color:#555555;
  &:hover {
    color:#444444 !important;
  }
}
.darkgray {
  color:#333333 !important;
}

//Wells
.well {
  .shadow;
  background-color:@secondary;
  background-image:none;
  border-radius:0px;
  border:0;
}
.third {
  width:32.3%;
  margin:0.5% 0.5%;
}
.half {
  width:47%;
 	@media only screen and (max-width : 1224px) {
	width:98%;
	}
}
.twothirds {
  width:65%;
}
.fullwidth {
  width:100%;
}
.margined {
  margin:0.5%;
}
.padded {
  padding:1%;
}
.text-centered {
  text-align:center;
}
.text-right {
  text-align:right;
}
.text-left {
  text-align:left;
}
.centered {
  margin-left:auto;
  margin-right:auto;
}

.smalltext {
  font-size:82%;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
.rect {
  width:100%;
  padding: 2px;
}

.block {
  display:block;
}
.inline {
  display:inline;
}

input, select, textarea {
  color:#333333;
  outline: none;
}
input, option, textarea {
  padding: 5px;
  font-size: 90%;
  border:none;
  width: 220px;
  &:focus {
    //outline:1px solid @primary;
  }
}

.shadow {
  box-shadow: 0px 0px 10px #333333;
}

.img-responsive {
  width:100%;
  height:auto;
}

.modal-backdrop {
  opacity:0.6;
}
.modal-content {
  .fade-in;
  .well;
  .modal-header {
    border:none;
    color:#FFFFFF;
  }
  .modal-footer {
    border:none;
  }
}

/* Style Scrollbar */

::-webkit-scrollbar {
    width: 15px;
}
 
/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: @secondary - #111; 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: @secondary - #111; 
}

.showcase {
  .content;
}

.portfolio-item {
  width:100%;
  margin-left:5%;
  img {
    width:50%;
    margin:3%;
  }
  p {
    padding-top:2%;
    font-size:90%;
  }
  a {
    color:rgb(85, 85, 85);
  }
  margin-bottom:5%;
}
.portfolio-header {
  color:@secondary;
  border-bottom: 1px solid @secondary + #222;
  font-size:85%;
  padding-bottom:10px;
  margin-bottom:25px;
}

.social-icon {
	width:100%;
	max-width:50px;
}