#Rewrite rule to get deeplinks to work for angular
#This doesn't work yet for routes that have parameters passed to them (ie more than one 'directory')

RewriteEngine on

RewriteCond %{HTTP_HOST} ^blog\.lucaspenney\.com$
RewriteCond %{REQUEST_URI} !^/blog/
RewriteRule (.*)$ /blog/$1 [L]

RewriteCond %{HTTP_HOST} ^games\.lucaspenney\.com$
RewriteCond %{REQUEST_URI} !^/games/
RewriteRule (.*)$ /games/$1 [L]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

RewriteRule ^(.*) /index.php [NC,L]

php_flag  log_errors on
php_value error_log /var/www/LucasPenney/php_errors.log

php_value error_reporting -1

