<h1>Your Decks</h1>
<div class="well fullwidth margined">
<table width="100%">
	<th>Score</th><th>Name</th><th>Colors</th><th>Format</th><th>Actions</th>
	<tr ng-repeat="deck in decks" class="padded">
		<td class="padded margined"><i class="fa fa-arrow-up darkgray"></i> {{deck.score}}</td>
		<td><a href="/deck/{{deck.id}}">{{deck.name}}</a></td>
		<td><span mana-colors data-colors="{{deck.colors}}"></span></td>
		<td>{{deck.format.name}}</td>
		<td><a class="btn btn-primary" href="/builder/{{deck.id}}"><i class="fa fa-edit"></i> Edit</a>
		<span>&nbsp;</span>
		<button class='btn btn-danger' ng-click="deleteDeck(deck.id)"><i class="fa fa-trash-o"></i> Delete</button>
		<div class="clearfix"></div>
		</td>
	</tr>
</table>
<a ng-click="createDeck()" class="btn btn-success margined"><i class="fa fa-file-o"></i> New Deck</a>
</div>

