<h1>Deck</h1>
<div class="well pull-right half margined decklist">

<span class="pull-right">Cards: {{cardCount}}</span>
<div class="margined"  ng-repeat="group in decklist" ng-if="group.cards.length > 0">
  <h4>{{group.name}} ({{group.total}})</h4>
		<div ng-repeat="card in group.cards">
		&nbsp;&nbsp; {{card.count}} <a class="cardlink" data-cardset="{{card.set}}" data-cardnum="{{card.num}}" ng-bind-html="card.name"></a>
		</div>
              </div> 
</div>

<div class="well half pull-left margined">
	<div class="voting pull-right">
	  <i ng-click="favourite()" class="fa fa-2x gray" ng-class="{'fa-star': favourited == 1, 'fa-star-o': favourited == 0, 'darkgray': favourited == 1}"></i>
	  <a ng-click="vote('up')"><i ng-class="{'darkgray': myVote == '1'}" class="fa fa-2x fa-arrow-up gray"></i></a>
	  <a ng-click="vote('down')"><i ng-class="{'darkgray': myVote == '-1'}" class="fa fa-2x fa-arrow-down gray"></i></a>
	  <br>
	  <h3 class="pull-right score-num"> {{deckScore}}</h3>
	</div>
	<div class="clearfix"></div>
	<div class="deck-description">
	<h3>{{deck.name}}</h3>
	<span class="smalltext">Created by <a href="/user/{{deck.owner.username}}">{{deck.owner.username}}</a></span><br><br>
	<p>{{deck.description}}<span ng-if="deck.description.length < 2">This deck has no description.</span>
	</p>
	</div>
</div>

<div class="well half pull-left margined comments">
<h3>Comments</h3>
<span class="smalltext" ng-if="comments.length <= 0">No comments to show</span>
<div class="comments-list">
	<!--
	<div ng-repeat="comment in comments.slice(commentsIndex,5+commentsIndex)" class="comment padded">
	-->
	<div ng-repeat="comment in comments" class="comment padded">
	<i class="padded">"{{comment.comment}}"</i><br>
        <span class="smalltext pull-right">- <a href="/user/{{comment.user.username}}">{{comment.user.username}}</a> 
	(<span am-time-ago="comment.timestamp.date"></span>)
	</span>
	<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
	<!--
	<a ng-show="commentsIndex > 0" ng-click="setCommentsIndex(-5)" class="pull-left">&lt; Newer</a>
	<a ng-show="commentsIndex + 4 < comments.length" ng-click="setCommentsIndex(5)" class="pull-right">Older&gt;</a>
	-->
	<div class="clearfix"></div>
	</div>
	<div class="comment-form">
		<a class="btn btn-primary pull-right" ng-hide="commenting" ng-click="commenting = 1;">Leave a comment</a>
		<div class="fade-in" ng-show="commenting">
			<textarea maxlength="300" ng-model="comment"></textarea><br>
			<span class="smalltext">{{300 - comment.length}} characters left</span>
			<button class="btn btn-sm btn-primary pull-right" ng-click="submitComment()">Submit</button>
		</div>
	</div>
</div>

<div class="clearfix"></div>
<div id="graphs">
	<div id="graph1" class="well third padded pull-left">Graph</div>
	<div id="graph2" class="well third padded pull-left">Graph</div>
	<div id="graph3" class="well third padded  pull-left">Graph</div>
</div>
