<h2> About </h2>
<hr>
<div class="half pull-left">
	<br>
	<p>I'm Lucas Penney, a web and game developer in Vancouver, Canada. I started programming from a young age, creating mods for popular games while also studying web development. Since then I've worked for several years as a web developer while also developing games and web projects in my spare time. </p>

	<p>Nowadays I work full-time as a web developer, and continue to develop a variety of different projects on the side.</p>
	<p> Feel free to shoot me an email at <a href="mailto:lucaspenney@gmail.com">lucaspenney@gmail.com</a> for any inquiries. </p>
	<p>&nbsp;</p>
	</div>

	<div class="half pull-right">
	<img class="block centered profile-image" src="/img/profile.png"/>
	<br>

	<div class="text-centered">
	<a target="_blank" href="mailto:lucaspenney@gmail.com" ><img ng-animate="'view-animate'" ng-show="true" class="social-icon" src="/img/icons/email.png"></a>
	<a target="_blank" href="http://stackoverflow.com/users/841579/lucas-penney"><img class="social-icon" src="/img/icons/stackoverflow.png"></a>
	<a target="_blank" href="http://twitter.com/lucaspenney"><img class="social-icon" src="/img/icons/twitter.png"></a>
	<a target="_blank" href="http://lnkd.in/ZStV-k"><img class="social-icon" src="/img/icons/linkedin.png"></a>
	<a target="_blank" href="http://github.com/lucaspenney"><img class="social-icon" src="/img/icons/github.png"></a>
	<a target="_blank" href="http://steamcommunity.com/id/Luke-P/"><img class="social-icon" src="/img/icons/steam.png"></a>
	</div>
</div>
