<h2> About </h2>

<p>I'm Lucas Penney, a web & game developer from Vancouver, Canada. I first started web design and programming and in my early teens and game development around the same time. Since then I've worked for several years as a freelance web developer while also developing games and web applications in my spare time.</p>

<p>Nowadays I work full-time as a web developer, and continue to develop a variety of different projects on the side.</p>
<p>&nbsp;</p>
<a href="#"><img ng-animate="'view-animate'" ng-show="true" class="social-icon" src="/img/icons/email.png"></a>
<a href="#"><img class="social-icon" src="/img/icons/stackoverflow.png"></a>
<a href="#"><img class="social-icon" src="/img/icons/twitter.png"></a>
<a href="#"><img class="social-icon" src="/img/icons/linkedin.png"></a>
<a href="#"><img class="social-icon" src="/img/icons/github.png"></a>
<a href="#"><img class="social-icon" src="/img/icons/steam.png"></a>
