<div class="well about-page">
<h2>About Me</h2>
	<div class="half pull-left">

	<p>I'm Lucas Penney, a programmer living in Vancouver, Canada. I started programming when I was a kid, and have stuck primarily to web and game development. I am mostly self taught, and have worked in web development for the past several years.  </p>

	<p>Nowadays I work full-time as a web developer, and continue to develop a variety of different projects on the side.</p>
	<p> Feel free to shoot me an email at <a href="mailto:lucaspenney@gmail.com">lucaspenney@gmail.com</a> for any inquiries. </p>
	<p>&nbsp;</p>
	</div>

	<div class="half pull-right text-centered smalltext gray" style="margin-top:-50px;">
	<img class="block centered profile-image" src="/img/profile.png"/>
	Objects in <code>&#x3C;img&#x3E;</code> are less pixelated than they appear
	<br><br><br>

	<div class="text-centered">
	<a target="_blank" href="mailto:lucaspenney@gmail.com" ><img ng-animate="'view-animate'" ng-show="true" class="social-icon" src="/img/icons/email.png"></a>
	<a target="_blank" href="http://stackoverflow.com/users/841579/lucas-penney"><img class="social-icon" src="/img/icons/stackoverflow.png"></a>
	<a target="_blank" href="http://twitter.com/lucaspenney"><img class="social-icon" src="/img/icons/twitter.png"></a>
	<a target="_blank" href="http://lnkd.in/ZStV-k"><img class="social-icon" src="/img/icons/linkedin.png"></a>
	<a target="_blank" href="http://github.com/lucaspenney"><img class="social-icon" src="/img/icons/github.png"></a>
	<a target="_blank" href="http://steamcommunity.com/id/Luke-P/"><img class="social-icon" src="/img/icons/steam.png"></a>
	</div>

	</div>
	<div class="clearfix"></div>
</div>
