<br>
<div class="twothirds" style="margin: 0 auto;text-align:center;">
	<p><span style="font-size:24px;">ManaStack</span> is a suite of tools for creating and playtesting Magic: The Gathering decks.</p> 
	<p>ManaStack is currently in closed beta, which you can sign up for below.</p>
</div>
<div class="padded margined">
	<div class="third margined pull-left">
		<img src="/img/intro_database.png" class="img-responsive fade-in-slow">
	</div>
	<div class="third margined pull-left">
		<img src="/img/intro_simulator.png" class="img-responsive fade-in-slow">
	</div>
	<div class="third margined pull-left">
		<img src="/img/intro_deck.png" class="img-responsive fade-in-slow">
	</div>
</div>
<div class="clearfix"></div>
<br><br>
<div class="register-box register-form well fade-in-very-slow">
	<h2>Beta Sign Up</h2>
	Enter your email address below to sign up for the closed beta.<br>
	<p>Already have a beta key? <a href="/register">Register Here</a>
	</p>
	<div class="register-form">
	<input placeholder="Email Address" type="text" class='text-centered' ng-model="betasignup.email">
	<br><br>
	<a ng-click="signup()" class="btn btn-info">Submit</a><br><br>
	</div>
	<p ng-show="validationError" class='fade-in'>{{validationError}}</p>
	<p ng-show="validationSuccess" class='fade-in'>{{validationSuccess}}</p>
	<br>
</div>
