<h2>Portfolio</h2>
<div class="portfolio">
	<h5 class="portfolio-header"> Web Development </h5>
	<div class="portfolio-item" ng-repeat="item in work" ng-show="item.category=='web'">
	<a href="/portfolio/{{item.slug}}">
	<h5>{{item.name}}</h5>
	<img class="pull-left shadow" src="{{item.images[0]}}"/>
	<div class="clearfix"></div>
	<p> </p>
	</a>
	</div>
	<div class="clearfix"></div>
</div>

<div class="portfolio">
	<h5 class="portfolio-header"> Game Development </h5>
	<div class="portfolio-item" ng-repeat="item in work" ng-show="item.category=='game'">
	<a href="/portfolio/{{item.slug}}">
	<h5>{{item.name}}</h5>
	<img class="pull-left shadow" src="{{item.images[0]}}"/>
	<div class="clearfix"></div>
	</a>
	</div>
</div>