<div class="well portfolio-item" ng-repeat="item in work">
	<h2 class="portfolio-header">{{item.name}}</h2>
	<div class="portfolio-description">
	<p ng-bind-html="item.description"></p>
	</div>

	<div class="portfolio-showcase">
	<div class="bigimg-container">
	<table>
	<tr><td>
	<img class="pop-in" ng-src="/img/portfolio/{{item.selectedImage}}" animate-image-change/>
	</td></tr>
	</table>
	</div>
	</div>

	<div class="thumbnails">
	<div class="thumbnail-container" ng-repeat="img in item.images track by $index">
		<img src="/img/portfolio/{{img}}" ng-click="selectImage(item, img)">
	</div>
	</div>
	<div class="clearfix"></div>
</div>