
<div class="twothirds pull-right portfolio-showcase">
<h1>{{selectedWork.name}}</h1>
<img class="padded margined shadow bigimg" src="/img/portfolio/{{selectedImage}}"/>
<img class="padded margined shadow" ng-repeat="img in selectedWork.images track by $index" src="/img/portfolio/{{img}}" ng-click="selectImage(img)"></img>
<br>
</div>

<div class="third portfolio-back">
<a href="/portfolio"><i class="fa fa-4x fa-arrow-circle-left"></i></a>
<p class="portfolio-description" ng-bind-html="selectedWork.description"></p>
</div>