<div class="well">
<h2>Resume</h2>
<hr/>
<div class="resume pop-in">
    <!--
    <h4 class="underline"> Education </h4>
    <p>
        <span class="half pull-left">2013: British Columbia Institute of Technology</span>
        <span class="half pull-left">2012: Earl Marriott Secondary School</span>
    </p>
    <div class="clearfix"></div>
    -->
    <h4 class="underline"> Web Development Skills </h4>
    <div class="left-section">
    <h5>Front End - Languages</h5>
    <ul>
        <li>HTML5 <span class="rating"><i class="fa fa-battery-4"></i><md-tooltip md-direction="right">Advanced</md-tooltip></span></li>
        <li>JavaScript <span class="rating"><i class="fa fa-battery-4"></i><md-tooltip md-direction="right">Advanced</md-tooltip></span></li>
        <li>CSS3 / Animations <span class="rating"><i class="fa fa-battery-3"></i><md-tooltip md-direction="right">Intermediate</md-tooltip></span></li>
    </ul>
    </div>

    <div class="right-section">
    <h5>Back End - Languages</h5>
    <ul>
        <li>PHP <span class="rating"><i class="fa fa-battery-4"></i><md-tooltip md-direction="right">Advanced</md-tooltip></span></li>
        <li>MySQL <span class="rating"><i class="fa fa-battery-3"></i><md-tooltip md-direction="right">Intermediate</md-tooltip></span></li>
        <li>NodeJS <span class="rating"><i class="fa fa-battery-3"></i><md-tooltip md-direction="right">Intermediate</md-tooltip></span></li>
    </ul>
    </div>
    <div class="clearfix"></div>

    <div class="left-section">
    <h5>Front End - Tools/Frameworks</h5>
    <ul>
        <li>AngularJS <span class="rating"><i class="fa fa-battery-4"></i><md-tooltip md-direction="right">Advanced</md-tooltip></span></li>
        <li>Backbone <span class="rating"><i class="fa fa-battery-3"></i><md-tooltip md-direction="right">Intermediate</md-tooltip></span></li>
        <li>Less/Sass CSS <span class="rating"><i class="fa fa-battery-3"></i><md-tooltip md-direction="right">Intermediate</md-tooltip></span></li>
        <li>Grunt <span class="rating"><i class="fa fa-battery-4"></i><md-tooltip md-direction="right">Advanced</md-tooltip></span></li>
    </ul>
    </div>

    <div class="right-section">
    <h5>Back End - Tools/Frameworks</h5>
    <ul>
        <li>Symfony<span class="rating"><i class="fa fa-battery-4"></i><md-tooltip md-direction="right">Advanced</md-tooltip></span></li>
        <li>CodeIgniter<span class="rating"><i class="fa fa-battery-3"></i><md-tooltip md-direction="right">Intermediate</md-tooltip></span></li>
        <li>WordPress<span class="rating"><i class="fa fa-battery-4"></i><md-tooltip md-direction="right">Advanced</md-tooltip></span></li>
        <li>Redis<span class="rating"><i class="fa fa-battery-4"></i><md-tooltip md-direction="right">Advanced</md-tooltip></span></li>
    </ul>
    </div>
    <div class="clearfix"></div>

    <h4 class="underline"> Software Development Skills </h4>
    <div class="left-section">
    <h5>Software Development Languages</h5>
    <ul>
        <li>C++ <span class="rating"><i class="fa fa-battery-2"></i><md-tooltip md-direction="right">Almost Intermediate</md-tooltip></span></li>
        <li>Java <span class="rating"><i class="fa fa-battery-3"></i><md-tooltip md-direction="right">Intermediate</md-tooltip></span></li>
        <li>SourcePawn <span class="rating"><i class="fa fa-battery-4"></i><md-tooltip md-direction="right">Advanced</md-tooltip></span></li>
        <li>Python <span class="rating"><i class="fa fa-battery-1"></i><md-tooltip md-direction="right">Basic</md-tooltip></span></li>
    </ul>
    </div>

    <div class="right-section">
    <h5>Software/Tools</h5>
    <ul>
        <li>Git<span class="rating"><i class="fa fa-battery-4"></i><md-tooltip md-direction="right">Advanced</md-tooltip></span></li>
        <li>Linux Server Administration <span class="rating"><i class="fa fa-battery-3"></i><md-tooltip md-direction="right">Intermediate</md-tooltip></span></li>
        <li>Adobe PhotoShop/Fireworks <span class="rating"><i class="fa fa-battery-1"></i><md-tooltip md-direction="right">Basic</md-tooltip></span></li>
        <li>Project Management Tools<span class="rating"><i class="fa fa-battery-4"></i><md-tooltip md-direction="right">Advanced</md-tooltip></span></li>
    </ul>
    </div>
    <div class="clearfix"></div>

    <h4 class="underline"> Work History </h4>
    <p> 2014 - Present: Web Developer - Stockpools.com
        <ul>
            <li>Developed new features as part of large website refactoring</li>
            <li>Refactored outdated website architecture to Symfony</li>
        </ul>
    <p>
    <p> 2013: Quality Assurance - Electronic Arts
        <ul>
            <li>Performed testing and development assistance on a variety of web applications</li>
            <li>Performed usability testing and performance benchmarking</li>
        </ul>
    <p>
    <p> 2013: Campaign Manager & Web Developer - Internet Exposure
        <ul>
            <li> Managed AdSense online marketing campaigns</li>
            <li> Performed website updates and changes on a variety of platforms</li>
            <li> Development of WordPress plugins and themes to resolve client issues</li>
        </ul>
    <p>
        2010-2012: Freelance Web Design - Gentle Hat Software
        <ul>
        <li>Website Development - Gawthrop Financial Inc.</li>
        <li>Website Development - K.O.M. Community Policing Center</li>
        <li>Website Development - White Rock Rancher</li>
        </ul>
    </p>
    <p>
    Miscellaneous
    <ul>
        <li>Technical Writing - LearnCryptography.com</li>
    </ul>
    </p>
</div>
</div>