
<h1>Simulator</h1>
<div class="well">
	<div class="third padded margined pull-left">
		<i style="font-size:160px;margin:30px 30px;" class="fa fa-bar-chart-o"></i>
	</div>
	<div class="twothirds padded margined pull-left">
	<h3>ManaStack Simulator</h3>
	<p>Coming August 2014</p>
	<p>The ManaStack Simulator is a tool to aid in playtesting by computationally simulating magic games against other decks.</p>
	<p>Using a combination of artificial intelligence and algorithmic decision making, the simulator helps you identify the performance of your deck when matched against other decks, without having to playtest them manually. </p>
	</div>
	<div class="clearfix"></div>
</div>
