<div class="well half padded margined pull-left">
<h3>{{user.username}}</h3>
Registered <span am-time-ago="user.registered.date"></span>
<br>
Rank: {{user.rank}}
</div>

<div class="well half padded margined pull-left">
<h3>{{user.username | possessive}} Decks</h3>
	<div class="padded" ng-repeat="deck in userDecks">
		&nbsp;(<i class="fa fa-arrow-up darkgray"></i>{{deck.score}})</span>&nbsp; - 
		<a href="/deck/{{deck.id}}">{{deck.name}}</a>
		<span class="smalltext">({{deck.format.name}})</span>
		<br>
		<span mana-colors data-colors="{{deck.colors}}"></span>
		<span class="smalltext pull-right">Created <span am-time-ago="deck.created.date"></span></span>
		<div class="clearfix"></div>
	</div>
</div>

<div class="well half padded margined pull-left">
<h3>{{user.username | possessive}} Favourites</h3>
	<div class="padded" ng-repeat="favourite in userFavourites">
		&nbsp;(<i class="fa fa-arrow-up darkgray"></i>{{favourite.deck.score}})</span>&nbsp; - 
		<a href="/deck/{{favourite.deck.id}}">{{favourite.deck.name}}</a>
		<span class="smalltext">({{favourite.deck.format.name}})</span>
		<br>
		<span mana-colors data-colors="{{favourite.deck.colors}}"></span>
		<span class="smalltext pull-right">Created <span am-time-ago="favourite.deck.created.date"></span> by <a href="/user/{{favourite.deck.owner.username}}">{{favourite.deck.owner.username}}</a></span>
		<div class="clearfix"></div>
	</div>
</div>